<div class="container">
<h2> Users Available </h2>
<table border="1" class="table">
<tr>
<th>User Full Name</th>
<th>User Email</th>
<th>User ID</th>
<th>User Age</th>
<th>User Page</th>
</tr>
<% @users.each do |user| %>
<tr>
<td> <%= user.fullname %> </td>
<td> <%= user.email %> </td>
<td> <%= user.user_id %> </td>
<td> <%= user.age %> </td>
<td> <%= link_to 'User Page', user_path(user) %> </td>
</tr>
<% end %>
</table>
</div>