<div class="container">
<h3>Novel Details</h3>
<p>Novel Title: <%= @novel.title %> </p>
<p>Novel GenreID:<%= @novel.genre_id %> </p>
<p>Novel AuthorID: <%= @novel.author_id %> </p>
<p>Novel PublicationID: <%= @novel.publication_id %> </p>
<p>Novel ISBN: <%= @novel.isbn %> </p>
<p>Novel Price: <%= @novel.price %> </p>
<p>Novel Publication: <%= @novel.publication %> </p>
<p>Novel Format: <%= @novel.format %> </p>
<p>Novel Description: <%= @novel.description %> </p>
<p>Novel Pages: <%= @novel.pages %> </p>
</div>